









.FullWidthCC {
  display: flex;
  justify-content: center;
}

.Carousel-Container {
  width: 400px;
  height: auto;
  border: 1px solid var(--Color3);
  overflow: hidden;
}

.carousel-indicators .active {
  background-color: var(--Color1); /* Set the background color for the active indicator */
}

.Carousel-Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.Carousel-Caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%; /* Set the height for the caption (adjust as needed) */
  background-color: var(--Color3);/* Add a semi-transparent background to make the text more readable */
  color: var(--Color1); /* Set the text color to white */
  padding: 10px; /* Add some padding to the caption for better aesthetics */
  font-size: 1.2rem;
  font-weight: bold;
}


@media screen and (max-width: 960px) {
  /* Media query for screens smaller than 960 pixels */
  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none; /* Hide carousel indicators and controls */
  }

  .Carousel-Container {
    width: 300px; /* Set the width you desire */
    height: auto; /* Set the height you desire to accommodate image and caption */
    border: 1px solid var(--Color3); /* Add a border to create the box effect */
    overflow: hidden; /* Hide any content that overflows the container */
  }
}