.card-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow images to wrap into a column */
  }




  .card-item {
    padding: 25px;
    width: 400px;
  }


.card-image img{
    width: 100%;
    height: auto;
    border: 1px solid var(--Color3);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;


}

.card-caption {
  max-width: 100%;
    font-family: "FaseBulan", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Add this to center the text horizontally */
    height: auto; /* Set the height for the caption (adjust as needed) */
    background-color: var(--Color3);/* Add a semi-transparent background to make the text more readable */
    color: var(--Color1); /* Set the text color to white */
    padding: 10px; /* Add some padding to the caption for better aesthetics */

}

.card-title{
  font-weight: bold;
  font-size: 2.5rem;

}
.card-price{
  font-size: 1.5rem;

}
.card-clickme{
  font-weight: bold;
  font-size: 1rem;
  
}



  @media screen and (max-width: 960px) {
    .card-display img {
      flex-basis: 51%;
      height: auto;
    }
    
    .card-image {

    width: 100%;

    }

    .card-image img{

      width: 100%;
  
      }
  }