.FooterColor {
    background-color: var(--Color3);
}


@font-face {
    font-family: "YourCustomFont"; /* Name the font family whatever you prefer */
    src: url("../fonts/BLOBBYCHUG-Bold.ttf") format("truetype");
  }

.fontfortext {
  font-family: "YourCustomFont", sans-serif;
}

.bluefortext{
    color: var(--Color1);
}

.redfortext {
    color: var(--Color5);
}


.textFontSize {
  font-size: 20px;
}

